
<div>
    <label for="nom">Nom:</label>
    <input [(ngModel)]="nom" type="text" id="nom" formControlName="nom">
</div>
<div>
    <label for="prenom">Prénom:</label>
    <input [(ngModel)]="prenom" type="text" id="prenom" formControlName="prenom">
</div>
<div>
    <label for="adresse">Adresse:</label>
    <input [(ngModel)]="adresse" type="text" id="adresse" formControlName="adresse">
</div>
<div>
    <label for="codePostal">Code Postal:</label>
    <input [(ngModel)]="codePostal" type="text" id="codePostal" formControlName="codePostal">
</div>
<div>
    <label for="ville">Ville:</label>
    <input [(ngModel)]="ville" type="text" id="ville" formControlName="ville">
</div>
<div>
    <label for="tel">Téléphone:</label>
    <input [(ngModel)]="tel"  type="text" id="tel" formControlName="tel">
</div>
<div>
    <label for="email">Email:</label>
    <input  [(ngModel)]="email" type="text" id="email" formControlName="email">
</div>
<div>
    <label for="civilite">Civilité:</label>
    <input [(ngModel)]="civilite" type="text" id="civilite" formControlName="civilite">
</div>
<div>
    <label for="password">Mot de passe:</label>
    <input [(ngModel)]="password" type="password" id="password" formControlName="password">
</div>
<div>
    <label for="login">Login:</label>
    <input [(ngModel)]="login" type="text" id="login" formControlName="login">
</div>
<div>
    <label for="pays">Pays:</label>
    <input  [(ngModel)]="pays" type="text" id="pays" formControlName="pays">
</div>
<button type="submit" (click)="displayLabel()" >Soumettre</button>

<div [hidden] ="isDisplayed">{{nom}}</div>
<div [hidden] ="isDisplayed">{{prenom}}</div>
<div [hidden] ="isDisplayed">{{adresse}}</div>
<div [hidden] ="isDisplayed">{{codePostal}}</div>
<div [hidden] ="isDisplayed">{{ville}}</div>
<div [hidden] ="isDisplayed">{{tel}}</div>
<div [hidden] ="isDisplayed">{{email}}</div>
<div [hidden] ="isDisplayed">{{civilite}}</div>
<div [hidden] ="isDisplayed">{{password}}</div>
<div [hidden] ="isDisplayed">{{login}}</div>
<div [hidden] ="isDisplayed">{{pays}}</div>


